.projects-block{
	
	
	
	
}

.project-sample{
	width: 100px;
}
/* .project-sample_hovered{
	position: absolute;
	color: white;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
} */

.project-sample:hover{
	
	
}


.project-sample_img{
	height: 100%;
	width: 100%;
}